<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventory Tracker</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<!-- indicates Javascript being used in HTML-->
<script>
  // allows to use await keyword
  async function submitForm(submitEvent){
    // allows to handle submissions in background
    event.preventDefault();

    // gets the values from the submission form through their id val and associated input value
    const component = document.getElementById('Component').value;
    const value = document.getElementById('Value').value;
    const  size = document.getElementById('Size').value;
    const partNum = document.getElementById('MFG Part #').value;
    // ensures input value gets passed in as integer
    const qty = parseInt(document.getElementById('Qty').value,10);

    // Using fetch, send data to server (submit route)
    const response = await fetch('/submit',{
      // specify request method: POST method --> data sent to server
      method: 'POST',
      // tells server (route) data is in JSON format
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({component, value, size, partNum})

    });
    // waits for response back from server that data was proccessed, parses/converts to JSON for script to understand
    const result = await response.json

  }

</script>
</head>
<body>
    <h1> Inventory Tracker </h1>
    <form onsubmit = "submitForm(event)">
      <!-- provides users description of what to enter -->
        <label for="Component">Component:</label>
        <input type="text" id="Component" name="Component" placeholder="Resistor" required>
  
        <label for="Value">Value:</label>
        <input type="text" id="Value" name="Value" placeholder="1K" required>

        <label for="Size">Size:</label>
        <input type="text" id="Size" name="Size" placeholder="5000" maxlength="4" style="width: 85px" required>

        <label for="MFG Part #">MFG Part #:</label>
        <input type="text" id="MFG Part #" name="MFG Part #" placeholder="ABC124" maxlength="30" style="width:250px" required>

        <!-- type = "number" allows to take in an integer-->
        <label for="Qty">Qty:</label>
        <input type="numbers" id="Qty" name="Qty" placeholder="10" style="width:100px" required>

        <button type ="submit">Submit</button>
    </form>

     <!-- Bootstrap CSS -->
     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
</body>
</html>